body{
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
	counter-reset: Serial;           /* Set the Serial counter to 0 */
}

h1, h2, h3, h4, h5, h6, a, div, p{
	font-family: 'PT Sans', sans-serif;	
	margin:0px;
}

.websiteBody{    

	padding: 0px;	
	margin: 10px auto 45px;	
    width: calc(100vw - 30px);    
	height: calc(100vh - 105px);	
	box-sizing: border-box;
	
	line-height: initial;
}

.inline{
	display: inline-block !important;
}


.center {	
	text-align: center;
    vertical-align: middle;	
}

.list-unstyled{
	list-style-type: none;
}


