.btn {
	-webkit-border-radius: 0 !important;	
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	font-size: 16px;
}


html{
  padding: 0px;
  margin: 0px;
  height: 100%;
}

body{
	padding: 15px;
	margin: 0px;
	height: 100%;
	counter-reset: Serial;           /* Set the Serial counter to 0 */
}

h1, h2, h3, h4, h5, h6, a, div, p{
	font-family: 'PT Sans', sans-serif;	
}


.jumbotron
{
	border-radius: 0px;
	padding: 25px;
}
.panel
{
	border-radius: 0px;	
}

.panel-heading
{		
	border-radius: 0px;	
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.panel-body
{
	padding-top: 1px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border-radius: 0px;	
}

.container
{
    display:table;
    width: 100%;    
	height: 100%;		
}

.row
{
    height: 90%;
	width: 100%;
    display: table-row;
}

[class^="col-"].no-float
{
    float: none; 
}

.form-control
{
	border-radius: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: lightgrey;
}

.ui-accordion{
	border-radius: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: lightgrey;	
}
.ui-accordion .ui-accordion-content{
	border-radius: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: lightgrey;
}
.ui-accordion .ui-accordion-content-active {
	border-radius: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: lightgrey;
}
.ui-accordion .ui-accordion-header{ 
	background-color: lightgrey; 
	border-radius: 0px;
	border-width: 1px;
	border-color: grey;
	border-style: solid;
	
	cursor: pointer;
	position: relative;
	margin-top: 1px;
}
.ui-accordion .ui-accordion-header-active {
	background-color: lightgrey; 
	border-radius: 0px;
	border-width: 1px;
	border-color: grey;
	border-style: solid;
}
.ui-accordion-header.ui-state-active{
	border-radius: 0px;
	border-width: 1px;
	border-color: grey;
	border-style: solid;
}




.ui-tooltip {
    background: black;
    color: white;
    border: none;
    padding: 0;
    opacity: 0.8;
	
	text-align:center;	
	
	border-radius: 0px;
	font: bold 12px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px darkgrey;
}
.ui-tooltip-content {
    position: relativ;
    padding: 1em;
}
.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}
.noarrow-tooltip .ui-tooltip-content::after {
	display: none;
}
.right-tooltip .ui-tooltip-content::after {
    top: 18px;
    left: -10px;
    border-color: transparent black;
    border-width: 10px 10px 10px 0; /*top, right, bottom, left */
}
.left-tooltip .ui-tooltip-content::after {
    top: 18px;
    right: -10px;
    border-color: transparent black;
    border-width: 10px 0 10px 10px;
}
.top-tooltip .ui-tooltip-content::after {
    bottom: -10px;
    left: 72px;
    border-color: black transparent;
    border-width: 10px 10px 0;    
}
.bottom-tooltip .ui-tooltip-content::after {
    top: -10px;
    left: 72px;
    border-color: black transparent;
    border-width: 0 10px 10px;		/* top, right&left, bottom */
}





#custom-bootstrap-menu.navbar-default .navbar-brand{
	color: #DBDBDB;   
	font-size: 18px;
}

#custom-bootstrap-menu.navbar-default > .container-fluid{
    color: #DBDBDB;
    background-color: #262626;    
}


#custom-bootstrap-menu.navbar-default,
#custom-bootstrap-menu.navbar-default .navbar-nav {
	color: #DBDBDB;
    	font-size: 16px;
    	background-color: #262626;
   	 border-width: 0px;
    	border-radius: 0px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
	color: #DBDBDB;
	background-color: #262626;
	font-size: 16px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: #262626;
    background-color: #DBDBDB;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: #262626;
    background-color: #DBDBDB;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #800000;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #D60000;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #800000;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #D60000;
}

#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu {
	color: #DBDBDB;
	background-color: #262626;
}

#custom-bootstrap-menu.navbar-default .navbar-nav > .dropdown-menu > a,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu > a{
	color: #DBDBDB;
	background-color: #262626;
}
#custom-bootstrap-menu.navbar-default .navbar-nav > .dropdown-menu > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > .dropdown-menu > a:focus,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu > a:focus{
    color: #262626;
    background-color: #DBDBDB;
}

#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu>li,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu>li>a{
	color: #DBDBDB;
	background-color: #262626;
}

#custom-bootstrap-menu.navbar-default .navbar-nav > .dropdown-menu>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > .dropdown-menu>li>a:focus,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu>li>a:focus {
    color: #262626;
    background-color: #DBDBDB;
}

#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
	color: #DBDBDB;
	background-color: #800000;
}



.tree {
    min-height:20px;
	height:100%;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;  
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
