body{
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
	counter-reset: Serial;           /* Set the Serial counter to 0 */
}

h1, h2, h3, h4, h5, h6, a, div, p{
	font-family: 'PT Sans', sans-serif;	
}

/* Common label */
label {
	display: inline-block;
	width: 5em;
}

.websiteBody{    
	margin-top: 60px;
	margin-bottom: 45px;
	margin-left: 15px;
	margin-right: 15px;
    width: calc(100vw - 30px);    
	height: calc(100vh - 105px);		
}

.jumbotron{
	border-radius: 0px;
	padding: 25px;
}

/* table */
.row{
    margin-left: 0px;
    margin-right: 0px;
	height: 100%;
}


.col-cs-1{width: 8.33%;}
.col-cs-2{width: 16.66%;}
.col-cs-3{width: 25.00%;}
.col-cs-4{width: 33.33%;}
.col-cs-5{width: 41.66%;}
.col-cs-6{width: 50.00%;}
.col-cs-7{width: 58.33%;}
.col-cs-8{width: 66.66%;}
.col-cs-9{width: 75.00%;}
.col-cs-10{width: 83.33%;}
.col-cs-11{width: 91.66%;}
.col-cs-12{width: 100.00%;}

[class*="col-cs-"] {
	display: table-cell; 
	
	border-radius: 0px;
	
	padding-left: 15px;
	padding-right: 15px;
	
	height: 100%;
	
	float: left;
	position: relative;
	min-height: 1px;
}

[class^="col-"].no-float
{
    float: none !important; 
}

/* Bootstrap button */
.btn {
	-webkit-border-radius: 0 !important;	
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	font-size: 16px;
}

/* Bootstrap div list */
.list-group{
	border-radius: 0 !important;
}
.list-group-item{
	border-radius: 0 !important;
}

.list-group-item.active{
	background-color: #EE5921;
	border-color: #aed248;
}

/* Bootstrap panel */
.panel{	
	border-radius: 0px;	
	
	padding-left:0px;
	padding-right:0px;	
	
	height: 100%;
	width: 100%;
}

.panel-body{
	box-sizing: border-box;
	
	height: 100%;
	max-height: 100%;
	
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	
	border-radius: 0px;		
}
.panel-heading{
	height: 45px;
	
	border-radius: 0px;	
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.panel-title{
	padding-top: 7.5px;
	font-weight: bold;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}


/* Bootstrap formcontrol */
.form-control
{
	border-radius: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: lightgrey;
}


/* JQuery UI Accordion */
.ui-accordion{
	border-radius: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: lightgrey;	
}
.ui-accordion .ui-accordion-content{
	border-radius: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: lightgrey;
}
.ui-accordion .ui-accordion-content-active {
	border-radius: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: lightgrey;
}
.ui-accordion .ui-accordion-header{ 
	background-color: lightgrey; 
	border-radius: 0px;
	border-width: 1px;
	border-color: grey;
	border-style: solid;
	
	cursor: pointer;
	position: relative;
	margin-top: 1px;
}
.ui-accordion .ui-accordion-header-active {
	background-color: lightgrey; 
	border-radius: 0px;
	border-width: 1px;
	border-color: grey;
	border-style: solid;
}
.ui-accordion-header.ui-state-active{
	border-radius: 0px;
	border-width: 1px;
	border-color: grey;
	border-style: solid;
}



/* JQuery UI Tooltip */
.ui-tooltip {
    background: black;
    color: white;
    border: none;
    padding: 0;
    opacity: 0.8;
	
	text-align:center;	
	
	border-radius: 0px;
	font: 12px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px darkgrey;
}
.ui-tooltip-content {
    position: relativ;
    padding: 1em;
}
.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}
.noarrow-tooltip .ui-tooltip-content::after {
	display: none;
}
.right-tooltip .ui-tooltip-content::after {
    top: 18px;
    left: -10px;
    border-color: transparent black;
    border-width: 10px 10px 10px 0; /*top, right, bottom, left */
}
.left-tooltip .ui-tooltip-content::after {
    top: 18px;
    right: -10px;
    border-color: transparent black;
    border-width: 10px 0 10px 10px;
}
.top-tooltip .ui-tooltip-content::after {
    bottom: -10px;
    left: 72px;
    border-color: black transparent;
    border-width: 10px 10px 0;    
}
.bottom-tooltip .ui-tooltip-content::after {
    top: -10px;
    left: 72px;
    border-color: black transparent;
    border-width: 0 10px 10px;		/* top, right&left, bottom */
}



.navbar{
	margin-bottom: 0px;
}

#custom-bootstrap-menu.navbar-default .navbar-brand{
	color: rgb(240, 240, 240);  
	font-size: 18px;
}

#custom-bootstrap-menu.navbar-default > .container-fluid{
    color: rgb(240, 240, 240);
    background-color: rgb(30,30,30);   
}


#custom-bootstrap-menu.navbar-default,
#custom-bootstrap-menu.navbar-default .navbar-nav {
	color: rgb(240, 240, 240);
    font-size: 16px;
    background-color: rgb(30,30,30);
   	border-width: 0px;
    border-radius: 0px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
	color: rgb(240, 240, 240);
	background-color: rgb(30,30,30);
	font-size: 16px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: #DBDBDB;
    background-color: rgb(245, 132, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgb(240, 240, 240);
    background-color: rgb(245, 132, 0);
}

#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu {
	color: rgb(240, 240, 240);
	background-color: rgb(30,30,30);
}

#custom-bootstrap-menu.navbar-default .navbar-nav > .dropdown-menu > a,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu > a{
	color: rgb(240, 240, 240);
	background-color: rgb(30,30,30);
}
#custom-bootstrap-menu.navbar-default .navbar-nav > .dropdown-menu > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > .dropdown-menu > a:focus,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu > a:focus{
    color: rgb(240, 240, 240);
    background-color: rgb(245, 132, 0);
}

#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu>li,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu>li>a{
	color: rgb(240, 240, 240);
	background-color: rgb(30,30,30);
}

#custom-bootstrap-menu.navbar-default .navbar-nav > .dropdown-menu>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > .dropdown-menu>li>a:focus,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu>li>a:focus {
    color: rgb(240, 240, 240);
    background-color: rgb(245, 132, 0);
}

#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
	color: rgb(240, 240, 240);
	background-color: rgb(30,30,30);
}



.tree {
    min-height:20px;
	height:100%;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;  
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:0px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
