{% include "header.html" %}
	

<div class="jumbotron">	
	<h6>About</h3>	
	<div class="panel-body">
        	Controll server for the <a href="https://www.ikp.kit.edu/corsika/">CORSIKA</a> Simulation.
			
			Uses: 
			<a href="http://getbootstrap.com/">Bootstrap</a> (<a href="https://opensource.org/licenses/mit-license.php">MIT License</a>)
			<a href="https://www.python.org/">Python 3.5</a> (<a href="https://docs.python.org/3/license.html">License</a>)
			Python <a href="http://www.tornadoweb.org/en/stable/index.html">Tornado</a> (<a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License V2.0</a>)
			Python <a href="http://www.sqlalchemy.org/">SQLAlchemy</a> (<a href="https://opensource.org/licenses/mit-license.php">MIT License</a>)
	</div>
</div>


{% include "footer.html" %}
