{% include "header.html" %}
<style>
.row {
	height: 100%;
    display: table;
}

.row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}
</style>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container col-sm-12 col-md-12 col-lg-12 ">
	<div class="jumbotron">
		<div class="row">
			<div class="col-sm-3 col-md-3 col-lg-3 text-left">
				<div class="tree" style="overflow-x:scroll; overflow-y:scroll;">
					<ul>
						<li>
							<span><i class="glyphicon glyphicon-folder-open"></i> Parent</span> 
							<ul>
								<li>
									<span><i class="glyphicon glyphicon-minus-sign"></i> Child</span> 
									<ul>
										<li>
											<span><i class="glyphicon glyphicon-leaf"></i> <a href="/edit?name">Grand Child</a></span> 
										</li>
									</ul>
								</li>
								<li>
									<span><i class="glyphicon glyphicon-minus-sign"></i> Child</span> 
									<ul>
										<li>
											<span><i class="glyphicon glyphicon-leaf"></i> Grand Child</span> 
										</li>
										<li>
											<span><i class="glyphicon glyphicon-minus-sign"></i> Grand Child</span>
											<ul>
												<li>
													<span><i class="glyphicon glyphicon-minus-sign"></i> Great Grand Child</span>
													<ul>
														<li>
															<span><i class="glyphicon glyphicon-leaf"></i> Great great Grand Child</span> 
														</li>
														<li>
															<span><i class="glyphicon glyphicon-leaf"></i> Great great Grand Child</span> 
														</li>
													</ul>
												</li>
												<li>
													<span><i class="glyphicon glyphicon-leaf"></i> Great Grand Child</span>
												</li>
												<li>
													<span><i class="glyphicon glyphicon-leaf"></i> Great Grand Child</span> 
												</li>
											</ul>
										</li>
										<li>
											<span><i class="glyphicon glyphicon-leaf"></i> Grand Child</span> 
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<span><i class="glyphicon glyphicon-folder-open"></i> Parent2</span> 
							<ul>
								<li>
									<span><i class="glyphicon glyphicon-leaf"></i> Child</span> 
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-9 col-md-9 col-lg-9" style="height:100%;">								   
					<label for="Edit">Edit:</label>
					<textarea class="form-control" style="height:calc(100% - 45px); resize:none; margin-bottom:10px" id="Edit">
						Text in the textarea...
					</textarea>		
					<form action="/edit" method="POST" role="form">
						<button type="reload" class="btn btn-danger pull-left">Reload</button>
						<button type="save" class="btn btn-success pull-right">Save</button>
					</form>
			</div>
		</div>
	</div>
</div>



<script>
$(function () {
    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
    $('.tree li.parent_li > span').on('click', function (e) {
        var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            $(this).attr('title', 'Expand this branch').find(' > i').addClass('glyphicon-plus-sign').removeClass('glyphicon-minus-sign');
        } else {
            children.show('fast');
            $(this).attr('title', 'Collapse this branch').find(' > i').addClass('glyphicon-minus-sign').removeClass('glyphicon-plus-sign');
        }
        e.stopPropagation();
    });
});
</script>


{% include "footer.html" %}
