{% include "header.html" %}
<style>
.row {
	height: 100%;
    display: table;	
	float: none;
}

.row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;	
}
</style>

{% if msg is not None %}	
<div class="alert alert-danger">
	<strong>{{msg}}</strong>
</div>	
{% end %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container col-sm-12 col-md-12 col-lg-12 no-float"  style="height: 100%; max-height: 100%; min-height: 100%">
	<div class="jumbotron" style="height:85vh;"/>
		<div class="row" style="width:100%;">
			<div class="col-sm-3 col-md-3 col-lg-3 text-left">
				<div class="tree" style="overflow-x:scroll; overflow-y:scroll; max-height:80vh;">
					<ul>
						{% raw fileTree %}
					</ul>
					<!--<ul>
						<li>
							<span><i class="glyphicon glyphicon-folder-open"></i> Parent</span> 
							<ul>
								<li>
									<span><i class="glyphicon glyphicon-minus-sign"></i> Child</span> 
									<ul>
										<li>
											<span><i class="glyphicon glyphicon-leaf"></i> <a href="/edit?name">Grand Child</a></span> 
										</li>
									</ul>
								</li>
								<li>
									<span><i class="glyphicon glyphicon-minus-sign"></i> Child</span> 
									<ul>
										<li>
											<span><i class="glyphicon glyphicon-leaf"></i> Grand Child</span> 
										</li>
										<li>
											<span><i class="glyphicon glyphicon-minus-sign"></i> Grand Child</span>
											<ul>
												<li>
													<span><i class="glyphicon glyphicon-minus-sign"></i> Great Grand Child</span>
													<ul>
														<li>
															<span><i class="glyphicon glyphicon-leaf"></i> Great great Grand Child</span> 
														</li>
														<li>
															<span><i class="glyphicon glyphicon-leaf"></i> Great great Grand Child</span> 
														</li>
													</ul>
												</li>
												<li>
													<span><i class="glyphicon glyphicon-leaf"></i> Great Grand Child</span>
												</li>
												<li>
													<span><i class="glyphicon glyphicon-leaf"></i> Great Grand Child</span> 
												</li>
											</ul>
										</li>
										<li>
											<span><i class="glyphicon glyphicon-leaf"></i> Grand Child</span> 
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<span><i class="glyphicon glyphicon-folder-open"></i> Parent2</span> 
							<ul>
								<li>
									<span><i class="glyphicon glyphicon-leaf"></i> Child</span> 
								</li>
							</ul>
						</li>
					</ul>-->
				
				</div>
			</div>
			<div class="col-sm-9 col-md-9 col-lg-9" style="height:100%;">
					<form action="/edit" method="POST" role="form" style="width:100%;height:100%">
						<label for="Edit">Edit:  </label>
						<input type="text" name="filePath" id="filePath" class="form-control" style="width:100%; resize:none;" value="{{ filePath }}">  </input>
						<textarea name="fileContent" id="fileContent" style="width:100%;height:calc(100% - 85px); resize:none; margin-bottom:10px">
							{{ fileContent }}
						</textarea>	
						{% raw xsrf_form_html() %}
						<a href="/edit?action=reload" class="btn btn-danger pull-left">Reload</a>
						<button id='submit' type="submit" href="/edit?action=save" class="btn btn-success pull-right" >Save</button>
					</form>										
			</div>
		</div>
	</div>
</div>



<script>
$(function () {
    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
    $('.tree li.parent_li > span').on('click', function (e) {
        var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            $(this).attr('title', 'Expand this branch').find(' > i').addClass('glyphicon-plus-sign').removeClass('glyphicon-minus-sign');
        } else {
            children.show('fast');
            $(this).attr('title', 'Collapse this branch').find(' > i').addClass('glyphicon-minus-sign').removeClass('glyphicon-plus-sign');
        }
        e.stopPropagation();
    });	
});

$("textarea").keydown(function(e) {
    if(e.keyCode === 9) { // tab was pressed
        // get caret position/selection
        var start = this.selectionStart;
            end = this.selectionEnd;

        var $this = $(this);

        // set textarea value to: text before caret + tab + text after caret
        $this.val($this.val().substring(0, start)
                    + "\t"
                    + $this.val().substring(end));

        // put caret at right position again
        this.selectionStart = this.selectionEnd = start + 1;

        // prevent the focus lose
        return false;
    }
});
</script>


{% include "footer.html" %}
