{% include "header.html" %}

<style>
.row [class*="col-"] {   
    display: table-cell;
    vertical-align: top;	
}
</style>

{% if msg is not None %}	
<div class="alert alert-danger">
	<strong>{{msg}}</strong>
</div>	
{% end %}
	 
<div class="row">
	<div class="col-1"></div>
	<div class="col-10">  
		<div class="row">
			<div class="col-3">
				<div class="panel panel-default">
					<div class="panel-heading">	
						<h2 class="panel-title" >
							Select file to edit:
						</h2>								
					</div>
					<div class="panel-body">
						<div class="tree" style="overflow-y:scroll;">
							<ul>
								{% raw fileTree %}
							</ul>
						</div>
					</div>
				</div>
			</div>					
			<div class="col-9">
				<div class="panel panel-default">
					<div class="panel-heading">	
						<h2 class="panel-title" >
							Edit:
						</h2>								
					</div>
					<div class="panel-body">
						<form action="/edit" method="POST" role="form" style="height:100%">
							<label for="Edit">Edit:  </label>
							<input type="text" name="filePath" class="form-control" value="{{ filePath }}">  </input>
							<textarea name="fileContent" id="fileContent" style="width:100%;height:calc(100% - 105px); resize:none; margin-bottom:10px">
								{{ fileContent }}
							</textarea>	
								{% raw xsrf_form_html() %}
							<a href="/edit?action=reload" class="btn btn-danger pull-left">Reload</a>
							<button id='submit' type="submit" href="/edit?action=save" class="btn btn-success pull-right" >Save</button>
						</form>										
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<script>
$(function () {
    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
    $('.tree li.parent_li > span').on('click', function (e) {
        var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            $(this).attr('title', 'Expand this branch').find(' > i').addClass('glyphicon-plus-sign').removeClass('glyphicon-minus-sign');
        } else {
            children.show('fast');
            $(this).attr('title', 'Collapse this branch').find(' > i').addClass('glyphicon-minus-sign').removeClass('glyphicon-plus-sign');
        }
        e.stopPropagation();
    });	
});

$("textarea").keydown(function(e) {
    if(e.keyCode === 9) { // tab was pressed
        // get caret position/selection
        var start = this.selectionStart;
            end = this.selectionEnd;

        var $this = $(this);

        // set textarea value to: text before caret + tab + text after caret
        $this.val($this.val().substring(0, start)
                    + "\t"
                    + $this.val().substring(end));

        // put caret at right position again
        this.selectionStart = this.selectionEnd = start + 1;

        // prevent the focus lose
        return false;
    }
});
</script>


{% include "footer.html" %}
