{% include "header.html" %}

<style type="text/css">
.col-md-3{	
    display: table-cell;    
	height: 100%;
	width: 23%;
}
.col-md-9{	
    display: table-cell;  
	height: 100%;
	width: 73%;	
}
.panel{
	max-height: 85vh;
	height: 85vh;	
}

.panel-body{
	height: 100%;
	max-height: 100%;		
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.ui-state-highlight { 
	height: 1.5em;
	line-height: 1.2em;
	margin: 8px;
}

.trash{	
	background-color: lightgrey;
	border-radius: 10px;
}
.trash_highlight{	
	background-color: red;
	border-radius: 10px;
}

.my_collaps{
}

label {
	display: inline-block;
	width: 5em;
}



.ui-tooltip, .arrow:after {
    background: black;
	border: 2px solid white;
}
.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}
</style>


<div class="container">
	<div class="row">

		<div class="col-md-3 panel pull-left">		
			<div class="panel-heading">		
				<a class="panel-title"> Select settings to add: </a>
			</div>
			<div class="panel-body">
			
				<ul id="collectionList" class="list-unstyled no-float" style="padding:20px; max-height:85%; overflow-y:scroll;">
				{% for itr in steering %}
					<li class="group">							
						<h3 class="deactivate">
							{{itr.name}}
							<div class="tt trash pull-right" title="{% raw itr.desc %}">
								<i class="fa fa-question fa-lg" aria-hidden="true"></i>
							</div>
						</h3>	
						<div >
							{% raw itr.content %}
						</div>
					</li>
				{% end %}					
				</ul>			
				
				<label class="btn btn-success btn-block" for="submit-form" style="margin: 20px;">Submit</label>
			</div>
		</div>	

		<div class="col-md-9 no-float panel panel-default pull-right" style="overflow-y:scroll;">
			<div class="panel-heading clearfix" style="margin-left: 10px; margin-right: 10px;">	
				<h2 class="panel-title pull-left" style="padding-top: 7.5px;"><b>Steering Card:</b></h2>
				<div id="trash" class="trash pull-right" title="Pull elements over it to remove them!">
					<a><i class="fa fa-trash fa-3x" aria-hidden="true"></i></a>
				</div>					
			</div>
			
			<form action="/edit_card" method="POST" role="form">

				<ul id="steeringList" class="panel-group list-unstyled" style="padding:20px;">				
				</ul>

				<input type="submit" id="submit-form" class="hidden" />
			</form>

		</div>

	</div>
</div>

<script>
    $( function(){
	
	$('.tt').on({
		"mouseover": function() {			
			$(this).tooltip("show");
			
		},
		"mouseout": function() {      
			$(this).tooltip('destroy');   
		},
		"mousedown": function() {      
			$(this).tooltip('destroy');   
		}
	});
	
    $( "#steeringList" ).sortable({		
		placeholder: "ui-state-highlight",	
		axis: "y",
		receive: function(e,ui) {			
            copyHelper = null;		
			$(this).find("h3").removeClass("deactivate");
			$(".accordion").accordion( "refresh" );				
        },
		stop: function( event, ui ) {
			ui.item.children( "h3" ).triggerHandler( "focusout" );				
			
			// Refresh accordion to handle new order
			$(".accordion").accordion( "refresh" );
			
			
		}
    }).accordion({
		header: "> li > h3",
		active: false,
		collapsible: true		
	}).disableSelection();
	
	$( "#collectionList" ).sortable({	
		connectWith: "#steeringList" ,
		forcePlaceholderSize: false,
		placeholder: "ui-state-highlight",		
		helper: function(e,li) {
			copyHelper = li.clone(true,true).insertAfter(li);
			
			var tmp = li.clone(true,true);	
			return tmp;
		},
		beforeStop: function(event, ui) {
			// Don't allow resorting in list1... would call cancel here, but there is a jquery 1.7 bug so we
			// need to do the check here but do the cancel in "stop" below. @see http://bugs.jqueryui.com/ticket/6054
			$(this).sortable("option", "selfDrop", $(ui.placeholder).parent()[0] == this);
		},
		stop: function(event, ui) {
			copyHelper && copyHelper.remove();
			
			var $sortable = $(this);
			if ($sortable.sortable("option", "selfDrop")) {
				$sortable.sortable('cancel');
				return;
			}
		}
    }).accordion({
		header: "> li > h3",
		active: false,
		collapsible: true,
		beforeActivate: function (event, ui) {
			var a = ui.newHeader;
			if (ui.newHeader.hasClass("deactivate"))	{
				event.preventDefault();
				event.stopPropagation();
				event.stopImmediatePropagation();
				return false;
			}
		return true;
		}	
	}).disableSelection();		
    	
	$("#trash").droppable({			
		drop: function(ev, ui) {
			ui.draggable.remove();			 
		},        
		tolerance: "pointer",
		hoverClass: "trash_highlight"
	}).tooltip({		
		track: true
    });   
});
</script>


{% include "footer.html" %}
