<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->    
		<title>Corsika Control Server</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" type= "text/css" href="{{ static_url('css/bootstrap.min.css') }}" />
		<!-- Bootstrap theme -->
		<link rel="stylesheet" type= "text/css" href="{{ static_url('css/bootstrap-theme.min.css') }}" />
		<!-- Custom -->
		<link rel="stylesheet" type= "text/css" href="{{ static_url('css/custom.css') }}" />
		<!-- Font -->
		<link rel='stylesheet' type= 'text/css' href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext'>
		<!-- Slider -->
		<link rel="stylesheet" type= "text/css" href="{{ static_url('css/bootstrap-slider.min.css') }}" />		
		<!-- Slider -->
		<link rel="stylesheet" type= "text/css" href="{{ static_url('css/font-awesome.min.css') }}" />		
		<!-- JQuery UI -->
		<link rel="stylesheet" href="{{ static_url('css/jquery-ui.min.css') }}">
				
	
				
		<!-- Custom  -->
		<script src=" {{ static_url('js/custom.js') }}"></script>		
				
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src=" {{ static_url('js/jquery-2.2.4.min.js') }}"></script>
		<!-- Slider  -->
		<script src=" {{ static_url('js/bootstrap-slider.min.js') }}"></script>
		<!-- Sorting/Moving  -->
		<script src=" {{ static_url('js/Sortable.min.js') }}"></script>
		<!-- JQuery UI  -->
		<script src=" {{ static_url('js/jquery-ui.min.js') }}"></script>
		
		
		
		
		
		 <!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src=" {{ static_url('js/bootstrap.min.js') }} "></script>		
	

		<link rel="apple-touch-icon" sizes="180x180" href="{{ static_url('favicon/apple-touch-icon.png') }}" />
		<link rel="icon" type="image/png" href="{{ static_url('favicon/favicon-32x32.png') }}" sizes="32x32" />
		<link rel="icon" type="image/png" href="{{ static_url('favicon/favicon-16x16.png') }}" sizes="16x16" />
		<link rel="manifest" href="{{ static_url('favicon/manifest.json') }}" />
		<link rel="mask-icon" href="{{ static_url('favicon/safari-pinned-tab.svg') }}" color="#5bbad5" />
		<link rel="shortcut icon" href="{{ static_url('favicon/favicon.ico') }}" />
		<meta name="msapplication-config" content="{{ static_url('favicon/browserconfig.xml') }}" />
		
		<style>
		html, body 
		{
    		background: url("{{ static_url('background/lodyas.png') }}") repeat;
		} 
		</style>
			
	</head>	
	<body role="document">

		<!-- Fixed navbar -->
		<nav id="custom-bootstrap-menu" class="navbar navbar-fixed-top navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"/>
						<span class="icon-bar"/>
						<span class="icon-bar"/>
					</button> 						
					<img class="navbar-left" style="max-width:50px;" src="{{ static_url('favicon/android-chrome-192x192.png') }}" />
					<a class="navbar-brand" href="/">CORSIKA RemoteControl</a>			
				</div>		
				<div id="navbar" class="navbar-collapse collapse navbar-menubuilder" >				    
					{% if current_user is not None %}	
					<ul class="nav navbar-nav navbar-left"> 		
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shortcuts <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>	<a href="#">Running server</a>	</li>
								<li>	<a href="#">SQL Statistic</a>	</li>
								<li>	<a href="#">Steering Cards</a>	</li>  
								<li role="separator" class="divider"></li>
                  						<li class="dropdown-header">Admin</li>              
							</ul>
						</li>		
						{% if current_user.permission > 9000 %}
						<li>
							<a href="/edit">Edit</a>
						</li>				
						{% end %}						
					</ul> 					
					<ul class="nav navbar-nav navbar-right" style="margin-right:0px">						
						<li>
							<a href="/ucp">{{current_user.username}}</a>
						</li>
						<li>
							<p class="navbar-btn"><a href="/logout" class="btn btn-danger">Logout</a></p>		
						</li>						
					</ul>
					{% else %} 
					<div class="nav navbar-nav navbar-right">
						<form action="/login" class="navbar-form" method="POST" role="form">
							<div class="input-group">
								<div class="form-group">
									<input type="text" name="username" id="inputName" class="form-control" placeholder="Username" required />
								</div>			
								<div class="form-group">
									<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required />
								</div>					
								{% raw xsrf_form_html() %}
								<button class="btn btn-success" type="submit">Sign in</button>
							</div>
						</form> 
					</div>
					{% end %}
				</div>
				<!--/.nav-collapse -->       
			</div>
		</nav>

