<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->    
		<title>Corsika Control Server</title>

		
		<!-- Font -->
		<link rel='stylesheet' type= 'text/css' href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext'>			
		<!-- Glyphs -->
		<link rel="stylesheet" type= "text/css" href="{{ static_url('css/font-awesome.min.css') }}" />		
		<!-- JQuery UI -->
		<link rel="stylesheet" href="{{ static_url('css/jquery-ui.min.css') }}">
		<link rel="stylesheet" href="{{ static_url('css/jquery-ui.theme.min.css') }}">
		
		<!-- CustomNavbar -->
		<link rel="stylesheet" type= "text/css" href="{{ static_url('css/custom_navbar.css') }}" />	
		<!-- CustomNavbar -->
		<link rel="stylesheet" type= "text/css" href="{{ static_url('css/custom_button.css') }}" />	
		<!-- CustomPanel -->
		<link rel="stylesheet" type= "text/css" href="{{ static_url('css/custom_panel.css') }}" />	
		<!-- CustomForm -->
		<link rel="stylesheet" type= "text/css" href="{{ static_url('css/custom_form.css') }}" />	
		<!-- CustomTable -->
		<link rel="stylesheet" type= "text/css" href="{{ static_url('css/custom_table.css') }}" />	
		<!-- CustomTree -->
		<link rel="stylesheet" type= "text/css" href="{{ static_url('css/custom_tree.css') }}" />	
		<!-- CustomJQueryUI -->
		<link rel="stylesheet" type= "text/css" href="{{ static_url('css/custom_jqueryui.css') }}" />	
		<!-- Custom -->
		<link rel="stylesheet" type= "text/css" href="{{ static_url('css/custom.css') }}" />	
				
				
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src=" {{ static_url('js/jquery-2.2.4.min.js') }}"></script>		
		<!-- Sorting/Moving  -->
		<script src=" {{ static_url('js/Sortable.min.js') }}"></script>
		<!-- JQuery UI  -->
		<script src=" {{ static_url('js/jquery-ui.min.js') }}"></script>
		
		<!-- Custom  -->
		<script src=" {{ static_url('js/custom.js') }}"></script>	
		
		
		
		<link rel="apple-touch-icon" sizes="180x180" href="{{ static_url('favicon/apple-touch-icon.png') }}" />
		<link rel="icon" type="image/png" href="{{ static_url('favicon/favicon-32x32.png') }}" sizes="32x32" />
		<link rel="icon" type="image/png" href="{{ static_url('favicon/favicon-16x16.png') }}" sizes="16x16" />
		<link rel="manifest" href="{{ static_url('favicon/manifest.json') }}" />
		<link rel="mask-icon" href="{{ static_url('favicon/safari-pinned-tab.svg') }}" color="#5bbad5" />
		<link rel="shortcut icon" href="{{ static_url('favicon/favicon.ico') }}" />
		<meta name="msapplication-config" content="{{ static_url('favicon/browserconfig.xml') }}" />
		
		<style>
		html, body 
		{
    		background: url("{{ static_url('background/lodyas.png') }}") repeat;
		} 
		</style>
			
	</head>	
	<body role="document">

		<!-- Fixed navbar -->
		<nav class="navbar">
			<ul>
				<li class="navbar-left">						
					<img style="max-height:50px; vertical-align:middle;" src="{{ static_url('favicon/android-chrome-192x192.png') }}" />					
				</li>	
				<li class="navbar-left">
					<div class="navbar-brand">
						<a href="/">CORSIKA RemoteControl</a>
					<div>
				</li>
				{% if current_user is not None %}	
				<li class="navbar-left dropdown">
					<a>Shortcut</a>
					<ul class="dropdown-content">
						<li href="#">Link 1</li>
						<li href="#">Link 2</li>
						<li href="#">Link 3</li>
					</ul>											
				</li>				
				{% if current_user.permission > 9000 %}	
				<li class="navbar-left navbar-seperator"></li>
				<li class="navbar-left">					
					<a href="/edit">Edit</a>
				</li>	
				{% end %}					
				<li class="navbar-right">						
					<a class="navbar-no-highlight" style="background-color:red;" href="/logout">Logout</a >						
				</li>	
				<li class="navbar-right">
					<a href="/ucp">{{current_user.username}}</a>
				</li>
				{%else%}
				<li class="navbar-right">
					<form action="/login" id="navbarLogin" method="POST" role="form">		
						<div class="inline">
							<input type="text" name="username" id="inputName" class="input-md" placeholder="Username" required />							
							<input type="password" name="password" id="inputPassword" class="input-md" placeholder="Password" required />	
							<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1" />
							{% raw xsrf_form_html() %}
						</div>
						<a href="#" class="navbar-no-highlight inline" style="background-color:green;" onclick="document.forms['navbarLogin'].submit(); return false;">Sign in</a>	
					</form> 					
				</li>	
				{% end %}		     
			</ul>
		</nav>
	
		<div class="websiteBody">