{% include "header.html" %}

<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="row">
	<div class="col-8 col-offset-2">
	
		<div class="panel panel-white">	
			<div class="panel-heading">
				<h1>CORSIKA control server</h1>
			</div>
				<div class="panel-body">
				<p> Easy and fast remote control of running CORSIKA instances</p>
				<p>
					<a class="btn btn-lg btn-blue" href="/about" role="button">Learn more &raquo;</a>
				</p>	
			</div>
		</div>			
	</div>
</div>







{% include "footer.html" %}
