{% include "header.html" %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		
			<div class="jumbotron">	
				<h1>CORSIKA control server</h1>
				<p> Easy and fast remote control of running CORSIKA instances</p>
				<p>
					<a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a>
				</p>	
			</div>
			
		</div>
	</div>
</div>






{% include "footer.html" %}
