{% include "header.html" %}

{% if len(error) is not 0 %}	
<div class="alert alert-danger" style="margin-top:70px;">
	<strong>{{error}}</strong>
</div>
{% end %}	
<div class="container">


	<div class="row">
		<div class="col-4 col-offset-4">
		
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Please sign in</h3>
				</div>				
				<div class="panel-body">
					<form action="/login" class="center" method="POST" role="form" id="loginForm">				     
						<div class="form-control">
							<span style="width:20px; display:inline-block;"><i class="fa fa-user"></i></span>						
							<input type="text" name="username" class="input-md" placeholder="Username" required autofocus />
						</div>       
						<div class="form-control">							
							<span style="width:20px; display:inline-block;"><i class="fa fa-key"></i></span>
							<input type="password" name="password" class="input-md" placeholder="Password" required />
						</div>               
						<div class="checkbox">
							<label>								
								<input type="checkbox" name="checkbox" value="remember-me" /> Remember me
							</label>
						</div>         
						{% raw xsrf_form_html() %}						
						<button class="btn btn-green btn-md" type="submit">Sign in</button>						
					</form>
					<div class="center">
						<a href="#">Register</a> - <a href="#">Forgot Password</a>
					</div>
				</div>
			</div>
			
		</div>		
	</div>
</div>

<script>
	$("<input>", { type: "hidden", name: "next", value: getUrlParameter("next") }).appendTo("#loginForm");
</script>

{% include "footer.html" %}

