{% include "header.html" %}


	{% if len(error) is not 0 %}
	<div style="padding: 70px;">
    <div class="alert alert-danger">
      <strong>{{error}}</strong>
    </div>
	</div>
	{% end %}	
    <div class="container">
      <form action="/login" class="form-signin" method="POST" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputName" class="sr-only">Username</label>
        <input type="text" name="username" id="inputName" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="checkbox" value="remember-me"> Remember me
          </label>
        </div>
		{% raw xsrf_form_html() %}
        <button class="btn btn-success" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->


{% include "footer.html" %}




